#titreAction{
    text-align: center;
    color: #761c19;
    font-weight: bold;
    font-size: 3.5em;
}
#applicationAnnonce {
    text-align: center;
    color: #761c19;
    font-weight: bold;
}
img {
    width: 100%;

}